.close-btn {
  position: relative;
  vertical-align: middle;  
	width: 16px;
	height: 16px;	
	border: none;
	outline: none;
	border-radius: 50%;
	background-color: #000000;
	cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 2px;
    width: 12px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #ffffff;	
  }

  &::after {	
	  transform: rotate(-45deg);
  }
}